@page
@model _5GuysLMS.Pages.CourseDashboardModel

@{
    ViewData["Title"] = "Course Dashboard";
}

<h1>Course Dashboard</h1>

<div class="row">
    <div style="margin-left: 15px"><h2>@Model.currentCourse.CourseTitle</h2></div>
    <div class="col-2 offset-3">
        <a asp-page="/Chart" asp-route-courseId="@Model.currentCourse.Id"  class="btn btn-primary btn-sm">Class Standings</a>
    </div>
</div>
<h2>@Model.currentCourse.CourseDepartment @Model.currentCourse.CourseNumber</h2>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments[0].AssignmentTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments[0].DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments[0].MaxPoints)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assignments[0].SubmissionType)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Assignments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignmentTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxPoints)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubmissionType)
                        </td>
                        <td>
                            <form method="post">
                                <div>
                                    <a asp-page="/EditAssignment" asp-route-id="@item.Id" asp-route-courseId="@Model.currentCourse.Id" class="btn btn-primary btn-sm">Edit</a>
                                </div>
                                <br />
                                <div>
                                    <a asp-page="/Submissions" asp-route-id="@item.Id" asp-route-assignmentId="@Model.currentCourse.Id" class="btn btn-primary btn-sm">Submissions</a>
                                </div>
                                <br />
                                <div>
                                    <button asp-page-handler="Delete" asp-route-id="@item.Id" asp-route-courseId="@Model.currentCourse.Id" class="btn btn-secondary btn-danger btn-sm">Delete</button>
                                </div>



                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*This button brings up the add new assignment modal*@
<button type="button" class="btn btn-primary btn-lg mt-5" data-toggle="modal" data-target="#myModalCreate">Add Assignment</button>

@*This block of code is the add new assignment modal*@
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-form-label">@Html.DisplayNameFor(model => model.Assignments[0].AssignmentTitle):</label>
                        <input type="text" class="form-control" asp-for="AddedAssignment.AssignmentTitle" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">@Html.DisplayNameFor(model => model.Assignments[0].SubmissionType):</label>
                        <select class="form-control" asp-for="AddedAssignment.SubmissionType" required>
                            <option value="@SubmissionTypes.File.ToString()">@SubmissionTypes.File.ToString()</option>
                            <option value="@SubmissionTypes.Text.ToString()">@SubmissionTypes.Text.ToString()</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">@Html.DisplayNameFor(model => model.Assignments[0].Description):</label>
                        <textarea class="form-control" asp-for="AddedAssignment.Description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">@Html.DisplayNameFor(model => model.Assignments[0].MaxPoints):</label>
                        <input type="number" min="0" value="100" class="form-control" asp-for="AddedAssignment.MaxPoints" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">@Html.DisplayNameFor(model => model.Assignments[0].DueDate):</label>
                        <input type="datetime-local" class="form-control" asp-for="AddedAssignment.DueDate" required>
                    </div>

                    <div class="d-flex flex-row-reverse bd-highlight">
                        <button type="submit" class="btn btn-primary mt-3 ml-3 mr-3">Add New Assignment</button>
                        <button type="button" class="btn btn-secondary mt-3 ml-3 mr-3" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
